<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Home - CaseHub</title>
  </head>
  <body>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      </button>
      <strong>Welcome!</strong> You have arrived at CaseHub, Check out our Products
    </div>

  </body>
</html>
